server {
    listen 80;
    listen [::]:80;

    server_name {{ .Host }};

    rewrite ^ https://{{ .Host }}$request_uri? permanent;
}

server {
    listen 443 ssl http2;
    server_name {{ .Host }};

    access_log /var/log/{{ .Host }}/access_log;
    error_log /var/log/{{ .Host }}/error_log;

    ssl_certificate /etc/letsencrypt/live/{{ .Host }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ .Host }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout 5m;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    location / {
        proxy_pass http://{{ .UpstreamHost }}:{{ .UpstreamPort }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
